@use "@themes/colors.scss" as color;

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid color.$red;
  border-radius: 8px;
  padding: 32px;
  max-width: 560px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(242, 102, 139, 0.5);
  box-shadow: 0px 0px 8px 2px rgba(242, 102, 139, 0.5);
}

.input_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: color.$red;

  input {
    background: white;
    color: color.$teal-900;
  }
}

.label {
  font-weight: 500;
}

.hiddenInput {
  display: none;
}

.fileButton {
  background-color: color.$blue;
  color: #fff;
  transition: background-color 0.2s ease;
  text-align: center;

  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  padding: 16px 24px;
  cursor: pointer;

  &:hover {
    background-color: color.$blue;
  }

  &:active {
    transform: scale(0.98);
  }
}

.fileName {
  font-size: 13px;
  color: color.$red;
}

button {
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  padding: 16px 24px;
  font-size: 1rem;
  cursor: pointer;
}

.button {
  background-color: color.$teal-500;
  color: white;

  &:hover {
    background: color.$teal-700;
  }
}
