services:
    backend:
        container_name: text-match-api
        build: 
          context: ./backend 
          dockerfile: Dockerfile         
        ports:
          - "8000:8000"
        volumes:
          - ./backend:/app       
        restart: unless-stopped
        networks:
          - app-network

    frontend:
      build: ./frontend
      container_name: react_frontend
      ports:
        - "80:80"
      volumes:
        - ./frontend:/app
        - /app/node_modules
      environment:
        - VITE_API_URL=http://localhost:8000
      networks:
        - app-network

networks:
  app-network:
    driver: bridge
