services:
  fastapi-pdf-diff:
    container_name: pdf-diff-api-container

    build: 
      context: ./backend 
      dockerfile: Dockerfile
      
    ports:
      - "8000:8000"
      
    volumes:
      - ./backend:/app
      
    restart: unless-stopped
  web-app-vite:
    build: ./frontend
    dockerfile: Dockerfile

    ports: "3000:80"
