@use "@themes/colors.scss" as color;

.title {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.level {
  background-color: color.$light;
  color: color.$teal-900;
  padding: 8px;
  border-radius: 8px;
  font-size: 0.875rem;
}

.card {
  background: color.$teal-500;
  max-width: 560px;
  width: 100%;
  border-radius: 8px;
  padding: 16px;
  color: color.$black;
}

.card_content {
  background: color.$teal-900;
  border-radius: 8px;
  padding: 8px;
  color: color.$red;
}

.card_content_citation {
  display: block;
  margin-top: 16px;
  font-weight: bold;
  color: color.$light;
}

.card_citation {
  span {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    color: color.$light;
    background: color.$green-100;
    border-radius: 8px;
    padding: 8px;
    width: max-content;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.label {
  color: color.$light;
  font-weight: bold;
  text-transform: uppercase;
}

.card_score {
  display: flex;
  align-items: center;
  gap: 16px;

  span {
    background: color.$red;
    padding: 8px;
    border-radius: 8px;
    font-size: 1.2rem;
    color: color.$teal-900;
    font-weight: bold;
  }
}
